doctype html
html
  head
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/kanji.js')
    title Sarus
  body
    #container
      button#left Reviewing …
      button#right Answer/Next
      button#up(disabled) Good
      button#down(disabled) Bad

      article#card
        .q
        .a

