.a {
  display: flex;
  & div {
    flex: 1 0;
  }
  & ul#parts {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.6em;
    text-align: left;
  }
}

#kanji {
  path {
    stroke: #e2e2e5;
  }
  text {
    font-size: 0.55rem;
    display: none;
  }
}

